<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" th:href="@{/css/index3.css}">

    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <nav class="navbar navbar-light bg-dark">
                                <div class="container">
                                    <a class="navbar-brand" href="#">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" height="50" alt="MDB Logo"
                                             loading="lazy" />
                                    </a>
                                    <h4 class="text-center text-white">Car Service</h4>

                                </div>
                            </nav>
                            <a  th:href="@{http://localhost:8080/addCar}" class="btn btn-success">Add
                                New Car</a>
                            <!--              <p class="text-right">Right aligned text on all viewport sizes.</p>-->
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Year</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car: ${cars}">

                            <td th:text="${car.brand}"></td>
                            <td th:text="${car.model}"></td>
                            <td th:text="${car.year}"></td>
                            <td>
                                <ul class="action-list">
                                    <li><a th:href="@{http://localhost:8080/update/{id}(id=${car.id})}" class="btn btn-primary"><i class="fa fa-pencil" style="font-size:20px"></i>
                                    </a></li>
                                    <li><a th:href="@{http://localhost:8080/{id}(id=${car.id})}" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>